# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Switch\Desktop\SWitCH\Dev-OPS\dockerEexmploProf\docker-compose-spring-tut-demo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
